<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>
    <div id="root">
        <div id="container">

            <!-- LEFT CONTENT -->
            <div id="left-content">

                <!-- HEADER -->
                <header>

                    <div class="left-header">
                        <img src="img/avatar_io.jpg" alt="me">
                        <p>Nome Utente</p>
                    </div>
                    <div class="right-header">
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </header>

                <!-- CALL TO ACTION -->
                <div id="call-to-action">
                    <div id="left-call-to-action">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div id="right-call-to-action">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <span><a href="#">Attiva notifiche desktop</a></span>
                    </div>
                </div>

                <!-- SEARCH BAR -->
                <div id="search">
                    <div id="search-bar">
                        <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input id="search" type="text" placeholder="Cerca o inizia nuova chat"> 
                    </div>

                </div>

                <!-- CONTACT AREA -->
                <div id="contact-area">
                    <div @click="selectThisChat(index)" v-for="(singleCon, index) in contacts" class="singleContact">
                        <img :src="'img/avatar' + contacts[index].avatar + '.jpg'" :alt="contacts[index].name">
                        <p>{{contacts[index].name}}</p>
                    </div>
                </div>

            </div>


            <!-- RIGHT CONTENT -->
            <div id="right-content">
                <header>
                    <div class="left-header">
                        <img :src="'img/avatar' + contacts[currentElement].avatar + '.jpg'" :alt="contacts[currentElement].name"> 

                        <div class="right-left-header">
                            <p>{{contacts[currentElement].name}}</p> 
                            <span>{{contacts[currentElement].messages.date}}</span>
                        </div>
                    </div>

                    <div class="right-header">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </header>

                <main>
                    
                    <div v-for="message in contacts[currentElement].messages" class="message" :class="{'sent' : message.status === 'sent'}">
                        <p>{{message.text}}</p>
                        <span>{{message.date}}</span>
                    </div>
                    
                </main>

                <footer>
                    
                    <div id="emoticon-area">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    
                    <div id="input-area">
                        <input placeholder="Scrivi un messaggio" type="text" v-model="newMessageText" @keyup.enter="sendMessage(newMessageText, currentElement)">
                    </div>

                    <div id="microfone-area">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </footer>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>